{{#md-navbar name='PCN - Área Técnica' class='light-blue darken-4'}}
  
   {{#if session.currentUser}}
            
            {{#link-to 'dashboard' tagName="li"}}<a href="">Inicio</a>{{/link-to}}
            {{#link-to 'tikets' tagName="li"}}<a href="">Tickets</a>{{/link-to}}
            {{#link-to 'profile' tagName="li"}}<a href="">Profile</a>{{/link-to}}
            <li {{action "logout"}}><a href="">Sair</a> </li>
            
    {{/if}}
  
{{/md-navbar}}