{{#md-navbar name='PCN - Área Tecnica' class='indigo'}}
  
   {{#if session.currentUser}}
            
            {{#link-to 'dashboard' tagName="li"}}<a href="">Inicio</a>{{/link-to}}

            {{else}}
            
            {{#link-to 'index' tagName="li"}}<a href="">Inicio</a>{{/link-to}}
            
           {{/if}}
    
   {{#if session.currentUser}}
       {{#link-to 'profile' tagName="li"}}<a href="">Profile</a>{{/link-to}}
        <li {{action "logout"}}><a href="">Sair</a> </li>
        {{/if}}
  
{{/md-navbar}}