{{#md-navbar name='PCN - Área Tecnica' class='blue-grey darken-1'}}
  
   {{#if session.currentUser}}
            
            {{#link-to 'dashboard' tagName="li"}}<a href="">Inicio</a>{{/link-to}}
            {{#link-to 'tikets' tagName="li"}}<a href="">Tickets <span class="new badge red">4</span></a>{{/link-to}}
            {{#link-to 'profile' tagName="li"}}<a href="">Profile</a>{{/link-to}}
            <li {{action "logout"}}><a href="">Sair</a> </li>
            
    {{/if}}
  
{{/md-navbar}}