  {{partial 'navbar'}}

 
 <div class="panel panel-default">
  <div class="panel-heading">Alteração dos dados</div>
  <div class="panel-body">
 <form class="form-horizontal">
  <fieldset>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password Atual</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="PasswordAtual" placeholder="Password">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Nova Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="NovaPassword" placeholder="Password">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Repita a Nova Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="RepitaPassword" placeholder="Password">
      </div>
    </div>
   
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        {{#link-to 'profile' class="btn btn-warning" tagName="button"}}Voltar{{/link-to}}
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primaryk" {{action "editar"}}> Submit </button>
      </div>
    </div>
  </fieldset>
</form>
  </div>
</div>