  {{partial 'navbar'}}
  
  <h1>O que pretende alterar ?</h1>
  
  {{#link-to 'detail-change' class="btn btn-default btn-lg btn-block" tagName="button"}}Detalhes de perfil{{/link-to}}
  {{#link-to 'email-change' class="btn btn-default btn-lg btn-block" tagName="button"}}Email{{/link-to}}
  {{#link-to 'password-change' class="btn btn-default btn-lg btn-block" tagName="button"}}Password{{/link-to}}
  {{#link-to 'profile' class="btn btn-info btn-lg btn-block" tagName="button"}}Voltar{{/link-to}}
