<div class="container">
  <div class="row">
<div class="col-sm-6 col-md-4 col-md-offset-4">
<h1 class="text-center login-title">Recuperação da password</h1>

<form {{action "doSomething" on="submit"}}>
  
    {{input type="text" class="form-control" value=email placeholder="Email"}} <br>
    <button type="submit" class="btn btn-lg btn-primary btn-block" {{action "recuperar"}}> Recuperar a password </button>
    {{#link-to 'login' class="btn btn-info btn-lg btn-block" tagName="button"}}Voltar{{/link-to}}

</form>

</div>
</div>
</div>